<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.service.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.service.pojo.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , role_name, remark
    </sql>
    <select id="getRole" resultType="com.bee.service.pojo.Role">
        select r.id,
               r.name,
               r.name_zh
        from t_role as r
                 left join t_user_role ar on r.id = ar.role_id
        where ar.user_id = #{userId}
    </select>

</mapper>
